.chat-wrapper {
  padding: 5px 15px 15px 15px;
}

.container_message .username {
  color: #ffffff;
  font-size: 20px;
  margin-left: 1rem;
  /* margin-top: 0; */
  margin-bottom: 0;
}

.container_message .message {
  color: #ffffff;
  font-size: 22px;
  margin-left: 1rem;
}

.span-time {
  margin-left: 1rem;
  font-size: small;
  color: #878a8e;
}
